<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/fragments/layout :: layout (~{::main}, 'indexStaffingTableUser', 'Штатное расписание')}">
<main class="container">
    <table id="data_table" class="table table-bordered table-responsive" style="width: 100%">
        <thead>
        <tr>
            <th>Должность</th>
            <th>Отдел</th>
            <th>Зарплата</th>
            <th>Количество сотрудников</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Должность</th>
            <th>Отдел</th>
            <th>Зарплата</th>
            <th>Количество сотрудников</th>
        </tr>
        </tfoot>
    </table>
</main>
    
</html>
