<html lang="ru" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/fragments/layout :: layout (~{::main}, 'employeeIndexUser', 'Сотрудники')}">
<main>
    <table id="data_table" class="table table-bordered table-responsive" style="width: 100%">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Должность</th>
            <th>Отдел</th>
            <th>Дата найма</th>
            <th>Телефон</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Должность</th>
            <th>Отдел</th>
            <th>Дата найма</th>
            <th>Телефон</th>
            <th>Email</th>
            <th></th>
        </tr>
        </tfoot>
    </table>
</main>
    
</html>
