td.details-control {
    background: url('../image/plus.png') no-repeat center center;
    background-size: 30px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../image/minus.png') no-repeat center center;
    background-size: 30px;
}