<th:block th:fragment="js">
    <th:block th:switch="${page}">
        <th:block th:case="employeeIndexAdmin">
            <script th:src="@{/resources/js/admin/employee.js}"></script>
        </th:block>
        <th:block th:case="employeeUpdateAdmin">
            <script th:src="@{/resources/js/admin/employee.js}"></script>
        </th:block>
        <th:block th:case="educationUpdateAdmin">
            <script th:src="@{/resources/js/admin/education.js}"></script>
        </th:block>
        <th:block th:case="familyUpdateAdmin">
            <script th:src="@{/resources/js/admin/family.js}"></script>
        </th:block>
        <th:block th:case="vacationUpdateAdmin">
            <script th:src="@{/resources/js/admin/vacation.js}"></script>
        </th:block>
        <th:block th:case="jobHistoryUpdateAdmin">
            <script th:src="@{/resources/js/admin/job_history.js}"></script>
        </th:block>
        
        <th:block th:case="positionListAdmin">
            <script th:src="@{/resources/js/admin/position.js}"></script>
        </th:block>
    </th:block>
</th:block>